.app {
  display: grid;
  grid-template-columns: 50% 50%;

  .info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image {
    display: flex;
    justify-content: flex-start;
  }
}