* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;

  .info {
    text-align: center;
  }

  .image {
    display: flex;
    justify-content: flex-start;
  }
}